$font-weights: (
  'thin': 100,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'extrabold': 800,
  'black': 900,
);

$mobile: 374px;
$tablet: 800px;
$desktop: 1280px;
$wide-screen: 1440px;

$desktopContent: 1232;

$defaultFont: 'Nunito Sans';
